
.Title{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.MucLuc{
    font-family: Arial, Helvetica, sans-serif;
}

.content1{
}

.CoDoHue{
    font-family:Arial, Helvetica, sans-serif ;
}

.DaoNgoc{
    font-family: Arial, Helvetica, sans-serif;
}

.DongAmTien{
    font-family: Arial, Helvetica, sans-serif;
}

.GanhDaDia{
    font-family: Arial, Helvetica, sans-serif;
}

.HangMua{
    font-family: Arial, Helvetica, sans-serif
}

.MuCangChai{
    font-family: Arial, Helvetica, sans-serif;
}

.ThacBanGioc{
    font-family: Arial, Helvetica, sans-serif;
}

.ThungLungMuongHoa{
    font-family: Arial, Helvetica, sans-serif;
}

.TrangAn{
    font-family: Arial, Helvetica, sans-serif;
}

.VinhHaLong{
    font-family: Arial, Helvetica, sans-serif;
}

.end{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}